h2{
    margin-top:50px;
    margin-left: 380px ;
    margin-right: 365px;
    margin-bottom:0px;
    text-align: center;
    background-color:navy;
    color:rgb(0, 255, 213);
}
input,button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    
}
button{
    background-color: green;
    color: yellowgreen;
    border-radius: 20%;
    margin-left: 100px;
}
input{
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
}
input{
    margin: 2px 2px 2px 0;
    width: 150px;
    vertical-align: middle;
    border-radius: 5px;
}
input[type="number"]{
    width : 100px;
}
input[type="email"]{
    width: 200px;
}
label{
    text-align: center;
    color: beige;
    font-weight: bold;
}
body{
    background-color:turquoise;
}
#box{
    width: 30%;
padding-left:150px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
margin-top:0px;
margin-left: 380px;
margin-right: 100px;
margin-bottom:100px;
background-color: rgb(22, 130, 230);
}
#result{
    background-color: rgb(84, 243, 243);
    margin-left: 380px;
    margin-right: 365px;
    padding-left:180px;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
border-radius: 30%;
}
td{
    color:blueviolet;
    font-family: cursive;
}
#cell1,#cell2,#cell3{
    color: rgb(235, 29, 235);
    font: sans-serif;
}
p{
    font-family: cursive;
    color: crimson;
    font-size: medium;
}